@use 'src/theme/settings.scss' as *;

.header {
  background-color: $dark-grey;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__name {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: $teal;
  }

  ion-button {
    --background: $black;
    --background-hover: $black;
    --background-activated: $black;
    --background-hover-opacity: 0.7;
    --box-shadow: unset;
  }

  ion-icon {
    color: $teal;
  }
}
